.App{
  box-sizing: border-box;
  position: absolute;
  max-width: 100%;
  background-color: rgb(235, 240, 240);
  
}

.card{
  padding-left: 4%;
}
.text{
  justify-content: center;
  text-align: center;
  font-weight: bolder;
  font-size: 50px;
}

.main-text{
  padding-top: 5%;
  justify-content: center;
  text-align: center;
  font-weight: bolder;
  font-size: 40px;
  font-style: oblique;
}

.frame-text{
  padding-top: 5%;
  justify-content: center;
  text-align: center;
  font-size: 50px;
}

.back-text{
  padding-top: 5%;
  justify-content: center;
  text-align: center;
  font-size: 50px;
}

.database-text{
  padding-top: 5%;
  justify-content: center;
  text-align: center;
  font-size: 50px;
}
